html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  text-align: center;
  color: #4d4d4d;
}

footer {
  margin: 1em;
}

.container {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: auto;
  gap: 5px 5px;
  justify-items: center;
  align-items: center;
}

.item {
  padding: 1em;
  border-style: dotted;
  width: 95%;
}

details {
  margin: 5px;
}

details summary {
  font-size: larger;
  height: 40px; /* adjust the value to your desired height */
}

img.opacity {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

img.opacity:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

input, select, textarea, button{
  font-size: inherit;
}